<header>
  <!-- loading spinner -->
  <div *ngIf="loadingData" class="spinner">
    <app-spinner></app-spinner>
  </div>

  <!-- error message -->
  <div *ngIf="error">An error occurs</div>

  <!-- canvas -->
  <div class="chart fade-in" [hidden]="!currentData && loadingData">
    <canvas id="activepower">{{ chart }}</canvas>
  </div>
</header>

<body *ngIf="currentData && !loadingData" class="fade-in body">
  
  <!-- current data table -->
  <div class="current-data">
    <div>Chunk: ({{chunk}}/{{completeData.content.length}}). A total of {{currentData.length}} records are loaded for this chunk.</div>
    
    <div class="pagination">
      Page {{paginationConfig.currentPage}} of {{pagesInChunk}}
      <button type="button" class="btn btn-sm btn-outline-info" (click)="previousPage()" 
        [disabled]="paginationConfig.currentPage == 1 && chunk == 1">
        &#60; Previous
      </button>
      <button type="button" class="btn btn-sm btn-outline-info" (click)="nextPage()" 
        [disabled]="chunk == completeData.content.length && paginationConfig.currentPage == pagesInChunk">
        Next &#62;
      </button>
    </div>
  
    <div class="table-content">
      <table class="table table-hover">
        <tr><th *ngFor="let header of headers">{{header.name | uppercase}}</th></tr>
      
        <tr *ngFor="let record of slicedData">
          <td><span>{{record.time | date : 'medium'}}</span></td>
          <td><span>Psum_kW</span></td>
          <td><span>{{record.activePower}}</span></td>
          <td><span>{{record.state | uppercase}}</span></td>
        </tr>
      </table>
    </div>
  
    <div class="pagination">
      Page {{paginationConfig.currentPage}} of {{pagesInChunk}}
      <button type="button" class="btn btn-sm btn-outline-info" (click)="previousPage()" [disabled]="paginationConfig.currentPage == 1 && chunk == 1">
        &#60; Previous
      </button>
      <button type="button" class="btn btn-sm btn-outline-info" (click)="nextPage()" [disabled]="chunk == completeData.content.length && paginationConfig.currentPage == pagesInChunk">
        Next &#62;
      </button>
    </div>
  </div>
  <!-- end current data table -->

  <!-- resume data table -->
  <div class="resume-data">  
    <div>Resume chunk information</div>
    
    <div class="table-content" *ngIf="resumeDataChunk">
      <table class="table table-hover">
        <tr><th colspan="2">Active Power threshold</th></tr>
        <tr>
          <td>Maximum active power reached</td>
          <td>{{resumeDataChunk.max}}</td>
        </tr>
        <tr>
          <td>Minimum active power reached</td>
          <td>{{resumeDataChunk.min}}</td>
        </tr>
      </table>
    </div>
  
    <div class="table-content" *ngIf="resumeDataChunk">
      <table class="table table-hover">
        <tr><th colspan="2">States</th></tr>
        <tr>
          <td>Off</td>
          <td>{{resumeDataChunk.off.length}}</td>
        </tr>
        <tr>
          <td>Unloaded</td>
          <td>{{resumeDataChunk.unloaded}}</td>
        </tr>
        <tr>
          <td>Idle</td>
          <td>{{resumeDataChunk.idle}}</td>
        </tr>
        <tr>
          <td>Loaded</td>
          <td>{{resumeDataChunk.loaded}}</td>
        </tr>
      </table>
    </div>
  </div>
  <!-- end resume data table -->

  <!-- scrolls -->
  <div class="go-to" *ngIf="showScrolls">
    <i (click)="goTop()" class="fa fa-3x fa-arrow-circle-up"></i>
    <i (click)="goBottom()" class="fa fa-3x fa-arrow-circle-down"></i>
  </div>
</body>