.content {
  margin: 2rem;
  text-align: center;
  table {
    font-size: 10px;
    display: inline-table;
    margin-top: 1.5rem;
    text-align: center;
    padding: 5%;
    width: 60%;
    border: 1px solid gray;
  }
  tr, td {
    border: 1px solid gray;
    font-size: 0.75rem;
  }
  .pagination {
    display: inherit !important;
    margin-top: 1.5rem;
  }
  canvas {
    max-width: 80%;
    margin: auto;
  }
}