<div class="content">
  <!-- loading spinner -->
  <div *ngIf="loadingData">Loading data...</div>
  
  <!-- error message -->
  <div *ngIf="error">An error occurs</div>

  <!-- canvas -->
  <div [hidden]="!currentData || !currentData.content">
    <canvas id="activepower">{{ chart }}</canvas>
  </div>

  <!-- scroll to top -->
  <div class="go-to" *ngIf="showScrolls">
    <i (click)="goTop()" class="fa fa-3x fa-arrow-circle-up"></i>
    <i (click)="goBottom()" class="fa fa-3x fa-arrow-circle-down"></i>
  </div>

  <!-- data -->
  <div class="table-content" *ngIf="currentData && currentData.content && !loadingData">

    <!-- active power information -->
    <div>
      <div>Chunk: ({{chunk}}/{{completeData.content.length}}). A total of {{currentData.content.length}} records are loaded for this chunk.</div>
  
      <div class="pagination">
        Page {{paginationConfig.currentPage}} of {{pagesInChunk}}
        <button (click)="previousPage()" [disabled]="paginationConfig.currentPage == 1 && chunk == 1">Previous</button>
        <button (click)="nextPage()" [disabled]="chunk == completeData.content.length && 
          paginationConfig.currentPage == pagesInChunk">Next</button>
      </div>
  
      <table class="table table-hover">
        <tr><th *ngFor="let header of currentData.headers">{{header.name | uppercase}}</th></tr>
      
        <tr *ngFor="let row of slicedData; let i = index">
          <td *ngFor="let id of [0,1,3,4]; let j = index">
            <span *ngIf="j == 0">{{row[id] | date : 'medium'}}</span>
            <span *ngIf="j > 0">{{row[id] | uppercase}}</span>
          </td>
        </tr>
      </table>
  
      <div class="pagination">
        Page {{paginationConfig.currentPage}} of {{pagesInChunk}}
        <button (click)="previousPage()" [disabled]="paginationConfig.currentPage == 1 && chunk == 1">Previous</button>
        <button (click)="nextPage()" [disabled]="chunk == completeData.content.length && 
          paginationConfig.currentPage == pagesInChunk">Next</button>
      </div>
    </div>

    <!-- resume information -->
    <div>
      <div>Resume chunk information</div>

      <table class="table table-hover">
        <thead>
          <tr><th colspan="2">Active Power threshold</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Maximum active power reached</td>
            <td>{{resumeChunkInformation.maxValue}}</td>
          </tr>
          <tr>
            <td>Minimum active power reached</td>
            <td>{{resumeChunkInformation.minValue}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-hover">
        <thead>
          <tr><th colspan="2">States</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Off</td>
            <td>{{resumeChunkInformation.stateCount.off}}</td>
          </tr>
          <tr>
            <td>Unloaded</td>
            <td>{{resumeChunkInformation.stateCount.unloaded}}</td>
          </tr>
          <tr>
            <td>Idle</td>
            <td>{{resumeChunkInformation.stateCount.idle}}</td>
          </tr>
          <tr>
            <td>Loaded</td>
            <td>{{resumeChunkInformation.stateCount.loaded}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>